body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.tooltip {
	font-size: 11pt;

}

canvas:hover {
	background: url('img/blk_play.png');
	background-size: 64px;
	background-position: 5px 5px;
}

.playing:hover {
	background: url('img/blk_play.png');
	background-size: 64px;
	background-position: 5px 5px;
}