<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>looptest</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>`

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

  </head>

  <body>


    <div class="container">

    {% for collection in collections: %}
      <div class = "collection">

      <h2> {{collection.title}}</h2>

        <form>
        {% for song in collection.songs: %}
        <a href="#" rel="tooltip" title = "{{song.title}}"> <button id="{{ all_song_filenames.index(song.filename) }}" data-width = "75" data-height="75" data-fgColor="{{ collection.cursorColor }} " data-bgColor = "{{ collection.bgColor }}" data-cursor="true" class="dial infinite" value="0"></button></a>

        {% endfor %}
        </form>

      </div>

    {% endfor %}


    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.knob.js"></script>
    <script>
      $(function() {
          $(".dial").knob({
            //readOnly:true,
            max:1000,
            displayInput:false
          })
      })

    var audio = {
      buffer: {},
      compatibility: {},
      files: [
          {% for filename in all_song_filenames: %}
            "../static/music/{{ filename }}",
          {% endfor %}
      ],
      proceed: true,
      source_loop: {},
      source_once: {},
      timers: {}
    };

    $('[rel="tooltip"]').tooltip({'placement':'bottom'})

    </script>


    <script src = "../static/js/proper-looping.js"></script>


  </body>
</html>